.DS_Store
.coverage
.env
.python-version
.scratch/
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
build/
coverage.xml
data/
dist/
/docs/heavenbase-feedback.md
htmlcov/
*.egg-info/
*.sqlite
*.sqlite3
*.py[cod]
